<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<th:block th:replace="commonPages/header :: header"></th:block>
<form action="/board/search" method="get" name="searchForm">
    <input type="text" name="q" placeholder="검색">
    <input type="button" th:onclick="boardSearch()" value="검색">
</form>
</body>
</html>